<html>
    <body>
        Bonjour, <br/>
        Un utilisateur vous a envoyé un email via le formulaire de contact : <br/><br/>

        Nom : {{ contact.name }} <br/>
        Email : {{ contact.email }} <br/>
        Objet : {{ contact.object }} <br/>
        Message : {{ contact.message }} <br/>
    </body>
</html>
