<div class="row body repair" id="repair">
    <div class="col-sm-4 col-md-4 imag">
        <img src="{{ asset('bundles/app/img/mobileImgL.png') }}"/>
    </div>
    <div class="col-sm-8 col-md-8 txt">
        <div>
            <h4>Réparations</h4>
            <p>
                Notre technicien répare, dépanne, entretien vos téléphones et tablettes en 1 heure  (si pièces en stock). Nous vous faisons profiter des meilleurs prix et de notre savoir faire en matière de réparation.
            </p>
        </div>
    </div>
</div>