<footer>
    <div class="row foot v-center">
        <div class="col-sm-6 col-md-6 formu">
            <h4>Nous contacter</h4>
            <form id="contact" method="post" action="src/traitement_formulaire.php">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Nom :</span>
                    <input type="text" class="form-control" placeholder="Nom" id="nom" name="nom" tabindex="1" />
                </div>
                </br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Email :</span>
                    <input type="text" class="form-control" placeholder="Email" id="email" name="email" tabindex="2" />
                </div>
                </br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Objet :</span>
                    <input type="text" class="form-control" placeholder="Objet" id="objet" name="objet" tabindex="3" />
                </div>
                </br>
                <textarea class="form-control" placeholder="Message" id="message" name="message" tabindex="4" cols="30" rows="8"></textarea>
                </br>
                <div style="text-align:center;">
                    <input class="btn btn-primary" type="submit" name="envoi" value="Envoyer!" />
                </div>
                </br>
            </form>
        </div>
        <div class="col-sm-6 col-md-2 col-md-offset-1 image">
            <img class="img-footer" src="{{ asset('bundles/app/img/photoExt1.jpg') }}"/>
        </div>

        <div class="col-sm-6 col-md-3">
            {% set siteData = site|first %}
            {{ siteData.schedule|raw }}
            {% if not siteData.isOpen %}
                Closed !
            {% endif %}
        </div>

    </div>

    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">@Com9Phone, 2017, tout droits réservé - mentions legales</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body ML">
                        {% include 'AppBundle:partials:mentions_legales.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>