<div class="row border-bottom" id="tariffs-row">

    <h2 class="text-center">NOS TARIFS</h2>

    {% for tariff in tariffs %}
        {% if tariff.description is defined %}
            <div class="col-xs-12 tariff-title-container">
                <h3 class="tariff-title" id="tariff-{{ loop.index }}" data-toggle="modal" data-target="#tariff-modal-{{ loop.index }}">{{ tariff.title }}</h3>
            </div>
            {% set tariffData = {'title' : tariff.title, 'description': tariff.description|raw, 'id': loop.index} %}
            {% include 'AppBundle:partials:tariffModal.html.twig' with tariffData %}
        {% endif %}
    {% endfor %}
</div>
